.button {
    height: 3rem;
    border-radius: .5rem;
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.button:hover {
    transform: translateY(-.25rem);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loader {
    margin: auto;
    height: 50%;
    aspect-ratio: 1 / 1;
    border: .2rem solid black;
    border-top: .2rem solid skyblue;
    border-radius: 50%;
    animation: spinner 3s linear infinite;
}

@keyframes spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}