#form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 1.5rem;
}

#input {
    flex-grow: 2;
    font-size: 1.5rem;
}

#select {
    font-size: 1.5rem;
}

#button {
    font-size: 1.5rem;
}