#timer {
    font-size: 1.2rem;
}

#timer span {
    font-weight: bold;
}

#table {
    margin-top: 2rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: .5rem;
    border-collapse: collapse;
}

#table th {
    text-align: left;
    padding: 1rem 1rem 0 1rem;
    font-size: 1.25rem;
}

#table th[data-sort='down']::after {
    content: '⬇️';
    font-size: 1rem;
    position: absolute;
    margin-left: .5rem;
}

#table th[data-sort='up']::after {
    content: '⬆️';
    font-size: 1rem;
    position: absolute;
    margin-left: .5rem;
}

#table td {
    padding: 1rem 1rem;
}

#table tr {
    padding: 0 1rem;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    user-select: none;
}

#table tr:first-child {
    border: none;
}

#table tr:nth-child(2) {
    border-top: none;
}

#table tr:last-child {
    border-bottom: none;
    display: table-row;
}

#table p {
    width: fit-content;
    margin: 0;
    display: inline;
}