:root {
    font-size: 24px;
    --dark-grey: #181818;
    --grey: #1f1f1f;
    --light-grey: #4d4d4d;
    --raven-blue: #0078d4;
    --mongo-green: #00ed64;
    --text: #dddddd;
}

body {
    margin: 0;
    padding: 1rem;
    background-color: var(--dark-grey);
    color: var(--text);
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#timer-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 2rem;
    row-gap: 2rem;
}

.timer-container {
    background-color: var(--grey);
    padding: 1rem;
    border-radius: .5rem;
    width: 30%;
}

.timer-container[data-db="raven"] {
    --accent-color: var(--raven-blue);
}

.timer-container[data-db="mongo"] {
    --accent-color: var(--mongo-green);
}

.timer-container h1 {
    margin: 0;
    margin-bottom: 1rem;
    color: var(--accent-color);
    font-size: 2rem;
}

.timer-container p {
    font-size: 1.2rem;
    margin: 0;
}

.timer-container p:first-of-type {
    margin-bottom: .5rem;
}

.timer {
    font-weight: bold;
    color: var(--accent-color);
}

.test {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.timer[data-bad="1"] {
    color: #00ed64;
    opacity: 0.8;
}

.timer[data-bad="2"] {
    color: #00ed64;
    opacity: 0.6;
}